<div class="card">
    <div class="card-header">
        <i class="fa fa-edit"></i>Constructor de Tests
        <div class="card-header-actions">
            <label class="switch switch-sm switch-label switch-success">
              <input type="checkbox" class="switch-input" checked>
              <span class="switch-slider" data-checked="On" data-unchecked="Off"></span>
            </label>
        </div>
    </div>
    <div class="card-body">
        <form class="form-horizontal">
            <div class="form-group">
                <div class="controls">
                    <input class="form-control form-control-lg" size="20" placeholder="Título" type="text">
                </div>
            </div>
            <div class="form-group">
                <div class="controls">
                    <input class="form-control form-control" placeholder="Descripción" type="text">
                </div>
            </div>
        </form>
    </div>
    <div class="div"></div>
</div>